
build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/

build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.cmake/api/v1/query/

build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.qt/

build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.qtc/package-manager/

build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/

build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.qtc_clangd/

build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/

.cache/clangd/index/

.idea/

build/.cache/clangd/index/

build/.cmake/api/v1/query/client-vscode/

build/.cmake/api/v1/reply/

build/
